.AdmissionRequirement {
    position: relative;
}

.AdmissionRequirement > .editButton {
    position: absolute;

    top: 0px;
    right: 0px;

    padding: 5px;

    width: 1.2em;
    height: 1.2em;

}